{% extends "books/base.html" %}
{% block title %}{{ book[1] }} - 書籍詳細ページ{% endblock %}
{% block content %}
<h1>{{ book[1] }}</h1>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<div class="card">
    <div class="card-body">
        <p><strong>カテゴリー:</strong> {{ book['category'] }}</p>
        <p><strong>ステータス:</strong> {{ book['status'] }}</p>
        <p><strong>メモ:</strong> {% if book['memo'] %} {{ book['memo'] }} {% else %} なし {% endif %}</p>
        <p><strong>購入日:</strong> {% if book['purchase_date'] %} {{ book['purchase_date'] }} {% else %} なし {% endif %}</p>
        <p><strong>読了日:</strong> {% if book['read_date'] %} {{ book['read_date'] }} {% else %} なし {% endif %}</p>
    </div>
</div>
<p>
    <a href="/books/{{ book['id'] }}/edit">編集</a>
    <a href="/books/{{ book['id'] }}/delete">削除</a>
</p>
{% endblock %}
