{% extends "books/base.html" %}

{% block title %}
{% if mode == "create" %}書籍登録{% else %}書籍編集{% endif %}
{% endblock %}

{% block content %}
<h1>{% if mode == "create" %}書籍登録{% else %}書籍編集{% endif %}</h1>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
<!-- <ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul> -->
  {% endif %}
{% endwith %}
<p>※は必須項目です。</p>
<form action="{% if mode == 'create' %}/books/new{% else %}/books/{{ book['id'] }}/edit{% endif %}" method="post">
  <label for="title">※タイトル:</label>
  <input type="text" id="title" name="title" value="{{ book['title'] }}" required /><br /><br />

  <label for="category">※カテゴリー:</label>
  <input type="text" id="category" name="category" value="{{ book['category'] }}" required /><br /><br />

  <label for="status">※ステータス:</label>
  <select name="status" id="form-select">
    {% for s in status_choices %}
    <option value="{{ s }}" {% if mode == 'update' and book['status'] == s %}selected{% endif %}>{{ s }}</option>
    {% endfor %}
  </select>
  <br /><br />

  <label for="memo">メモ:</label>
  <textarea id="memo" name="memo">{{ book['memo'] }}</textarea><br /><br />

  <label for="purchase_date">購入日:</label>
  <input type="date" id="purchase_date" name="purchase_date" value="{{ book['purchase_date'] }}" /><br /><br />

  <label for="read_date">読了日:</label>
  <input type="date" id="read_date" name="read_date" value="{{ book['read_date'] }}" /><br /><br />

  <input type="submit" value="{% if mode == 'create' %}登録{% else %}更新{% endif %}" />
</form>
{% endblock %}
