{% extends "books/base.html" %} {% block title %}書籍一覧{% endblock %} {% block
content %}
<h1>書籍一覧</h1>
<a href="/books/new">新しい書籍を登録</a>
{% if not books %}
<p>登録されている書籍はありません。</p>
{% else %} {% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>ステータス</th>
      <th>購入日</th>
      <th>読了日</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td>{{ book[1] }}</td>
      <td>{{ book[2] }}</td>
      <td>{{ book[3] }}</td>
      <td>{{ book[4] }}</td>
      <td>{{ book[5] }}</td>
      <td>
        <a href="/books/{{ book[0] }}/edit">編集</a>
        <a href="/books/{{ book[0] }}/delete">削除</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %} {% endblock %}
