<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍一覧</title>
</head>
<body>
    <h1>書籍一覧</h1>
    <table>
        <thead>
            <tr>
                <th>タイトル</th>
                <th>カテゴリー</th>
                <th>ステータス</th>
                <th>購入日</th>
                <th>読了日</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>テストタイトル</td>
                <td>テストカテゴリー</td>
                <td>テストステータス</td>
                <td>テスト購入日</td>
                <td>テスト読了日</td>
            </tr>
            <tr>
                <td>テストタイトル</td>
                <td>テストカテゴリー</td>
                <td>テストステータス</td>
                <td>テスト購入日</td>
                <td>テスト読了日</td>
            </tr>
            <tr>
                <td>テストタイトル</td>
                <td>テストカテゴリー</td>
                <td>テストステータス</td>
                <td>テスト購入日</td>
                <td>テスト読了日</td>
            </tr>
        </tbody>
    </table>
</body>
</html>