<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>書籍登録</title>
  </head>
  <body>
    <h1>書籍登録</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <p>※は必須項目です。</p>
    <form action="/books/new" method="post">
      <label for="title">※タイトル:</label>
      <input type="text" id="title" name="title" required /><br /><br />

      <label for="category">※カテゴリー:</label>
      <input type="text" id="category" name="category" required /><br /><br />

      <label for="status">※ステータス:</label>
      <input type="text" id="status" name="status" required /><br /><br />

      <label for="purchase_date">購入日:</label>
      <input type="date" id="purchase_date" name="purchase_date" /><br /><br />

      <label for="read_date">読了日:</label>
      <input type="date" id="read_date" name="read_date" /><br /><br />

      <input type="submit" value="登録" />
    </form>
  </body>
</html>
